<h1><%= @movie.title %></h1>
<ul>
  <li>Creation Year: <%= @movie.year %> </li>
  <li>Genre: <%= @movie.genre %> </li>
</ul>

<h4>Actors</h4>
<ul id="actors">
  <% @movie.sort_actors.each do |actor| %>
    <li><%= actor.name %></li>
  <% end %>
</ul>
<p>Average Actor Age: <%= @movie.average_age %> </p>

<%= form_tag("/studios/#{@movie.studio.id}/movies/#{@movie.id}/actors", method: :post) do %>
  <%= label_tag "Actor Name: " %>
  <%= text_field_tag :actor %><br>
  <%= submit_tag "Add Actor" %>
<% end %>
